h3 {
    font-size: 25px !important;

}

.btn-success:hover {
    background-color: red;

}

canvas {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   

}

@keyframes example {
    from {
        box-shadow: 90px 20px 79px rgb(0, 195, 255);
    }

    to {
        box-shadow: 20px 90px 79px rgb(217, 255, 0);
    }

  
   

}